.mapContainer {
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.mapContainer :global(.ol-viewport) {
  background: linear-gradient(135deg, var(--color-faded-copper-100), var(--color-slate-grey-100));
}

.mapContainer :global(.ol-attribution) {
  display: none;
}

.mapContainer :global(.ol-zoom) {
  display: none;
}
