.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg);
}

.main {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  overflow: visible;
}


